<!doctype html>
<html lang="en">
  <head>
    <title>
      {% block title %} 
      {% endblock title %}
    </title>

    <link rel="icon" href="{{ url_for('static', filename='img/branding/logo_mini.png') }}" type="image/icon type">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% block head_links %}
    {% endblock head_links %}
  </head>

  <body>
    {% if current_user %}
      <header>
        <div>
          <nav class="navbar navbar-expand bg-light">
            <div class="col-4">
              <a href='/'>
                <img class="logo" src="{{ url_for('static', filename='img/branding/logo.png') }}">
              </a>
            </div>
            <div class="col-6 align-middle">
              <div class="row">
                <div class="col-9">
                  <form class="d-flex">
                    <input class="form-control me-2 rounded-pill" type="text" placeholder="Поиск...">
                  </form>
                </div>
              </div>
            </div>
            
            <div class="float-right">
              <span style="padding: 20px">
                <a href="{{ url_for('signout') }}" style="color: rgba(0, 0, 0, 0);">
                  <img src="{{ url_for('static', filename='img/button/signout.png') }}" style="width: 30px; height: 30px;">
                </a>
              </span>
              <a href="{{ url_for('userpage') }}">
                {% if current_user %}
                  {% if current_user.userpic_url %}
                    <img class="border rounded-pill" src="{{ url_for('static', filename=current_user.userpic_url) }}" style="width: 50px; height: 50px;">
                  {% else %}
                    <img class="border rounded-pill" src="{{ url_for('static', filename='img/placeholder/userpic.png') }}" style="width: 50px; height: 50px;">
                  {% endif %}
                {% endif %}
              </a>
            </div>
          </nav>
        </div>
      </header>
    {% endif %}

    <main>
      <div style="margin-top: 40px; margin-left: 50px; margin-right: 50px;">
          {% block content %}
          {% endblock content %}
      </div>
    </main>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>